body {
    background-color: whitesmoke;
}

header ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    text-transform: capitalize;
}

.active {
    color: red;
}

main p {
    border: 1px solid black;
    padding: 1rem;
}

.projects,
.courses {
    display: flex;
    gap: .5rem;
}

.projects>div,
.courses>div {
    border: 1px solid;
    padding: 1rem;
}

.project img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.project button {
    padding: .5rem 1rem;
}